/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ------------------------------------------------------------------------------------------------- */
*{
	/* border: 1px dashed red !important; */
	letter-spacing: .2rem;
	
}

html {
	scroll-behavior: smooth;
  }


.blinker{
    animation: blinker 1s linear infinite;
}

@keyframes blinker{
    50%{
        opacity: 0;
    }
}

body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: darkslategray;
    color: white;
	display: flex;
	flex-direction: column;
}

section{
	min-height:100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

header{ 
	background-color: black;
	height: 2rem;
	padding: 1rem;
	position: sticky;
	top: 0px;
	box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
	flex: 1;
	z-index: 99999;
	display: flex !important;
}

header,
#head-list{
	display: flex;
	justify-content: center;
	align-items: center;
}

#head-list>li:hover,
header #logo:hover{
	font-size: 1.2rem;
	
}

#logo,
#head-list > li{
	display: flex;
	height: 3rem;
	width: 9rem;
	/* padding-top: 2rem; */
	align-items: center;
	justify-self: center;
	padding-left: 1.5rem;
}
	
p{
	word-spacing: .15rem;
	letter-spacing: .1rem;
}

#aya{
	justify-content: flex-start;
}

.greeting,
.caption{
    font-family:'Courier New', Courier, monospace, sans-serif;
	padding-left: 20%;
	
	padding-bottom: 1rem;
}

.greeting{
	font-size: 5rem;
	padding-top: 10%;
}


.links{
	padding-left: 20%;
	display: flex;
	align-items: center;
	height: 40px;
}

.links>a{
	width: 50px;
}

.links>a>img:hover{
	height:30px;
	width:30px;
}

.scroll-prompt{
	align-self: center;
	position: absolute;
	top: 90%;
}

h1{
	font-family:'Courier New', Courier, monospace, sans-serif;
	font-size: 2rem;
	padding-bottom: 1rem;
	padding-left: 10%;
}

#content>ul>li>span{
	color: goldenrod ;
}

#content>ul>li{
	padding: 1rem;
}
a{
	text-decoration: none;
	color:white;
}
.odin{
	color:goldenrod;
	text-decoration: underline;
}

#content{
	padding: 2rem; 
	background-color: rgba(0, 0, 0, 0.704); 
	box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3); 
	border-radius: 7px;
	width: 80%;
	justify-self: center;
	align-self: center;
}

#project-container{
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
	grid-template-rows: repeat(auto-fit,minmax(150px,1fr)) ;
	gap: 1rem;
}

h2{
	padding-bottom: 2rem;
	font-size: 1.2rem;
}
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */

.flip-card {
  background-color: transparent;
  width: 500px;
  height: 300px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  border:0px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  color: white;
  transform: rotateY(180deg);
}

.flip-card-back > p{
	padding-bottom: 2rem;
}

button{
	background-color:  goldenrod;
	align-self: center;
	width: 10rem;
	height: 3rem;
	border-radius: 10px;
	border: none;
	color: white ;
}
  
button:hover{
	background-color: darkgoldenrod;
}

.card-img{
	width: 500px;
	height: 300px;
}

form{
	display: flex;
	flex-direction: column;
	padding-top: 1rem;
	width: 50%;
}
label{
	display: flex;
	flex-direction: column;
	padding: 1rem;
	
}

.info-and-form{
	display: flex;	
	justify-content: center;
	align-items: center;
	
}
.info{
	font-size: 1.2rem;
	padding-left: 1rem;
	padding-right: 1rem;
}


